<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body class="text-center" style="background-color: #00CED1">
<div class="jumbotron text-center mt-5" style="background-color:#00CED1">

    <h2>Chuck Norris Facts:</h2>
    <hr class="my-4">
    <br/>
    <br/>
    <h1 class="display-4" style="min-height: 300px; max-height: 300px" th:text="${joke}">Random joke</h1>
    <br/>
    <hr class="my-4">
    <a class="btn btn-danger btn-lg" th:href="@{/}" role="button">Another!</a>

</div>

</body>
</html>